@font-face {
  font-family: Ubuntu;
  src: url("../src/assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: Exo;
  src: url("../src/assets/fonts/Exo2-VariableFont_wght.ttf");
}

@theme {
  --font-ubuntu: Ubuntu, "sans-serif";
  --font-exo: Exo, "sans-serif";
}
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(
    circle at 20% 30%,
    rgba(139, 104, 79, 0.15),
    rgba(171, 129, 95, 0.25),
    transparent 20%
  );
  background-size: cover;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
